<!DOCTYPE html>
<html>
<head>
  <title>Bank Website</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-PfmMW1pTUEzGtuHNlsDij/1Zvr2Ib5Ck2FyE0hLkgcvV/tcPLISGMj2j8FvL8zK5" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="logo">
      <a href="admin-home.html">
        <img src="images/bank-logo.png" alt="Bank Logo">
      </a>
    </div>
    <nav class="navigation">
      <div class="dropdown">
        <a href="#">
          <img src="images/account.png" alt="Support">
          <span>My Account <i class="arrow right"></i></span>
        </a>
        <div class="dropdown-content">
          <a href="admin-notifications.html">
            <img src="images/notification.png" alt="Notifications"> <br>
            <span>Notifications</span>
          </a>
          <a href="login.html">
            <img src="images/logout.png" alt="Logout"> <br>
            <span>Logout</span>
          </a>
        </div>
      </div>
        <a href="register-banker.html">
          <img src="images/add-banker.png" alt="Services">
          <span>Add A Banker</span>
        </a>
    </nav>
  </header>

  <div class="main-content">
    <h1>About GUCB</h1>
    <div class="box">
      <img src="images/smile.jpg" alt="Image of GUCB">
      <p>Welcome to our bank website! We are committed to providing excellent banking services to our customers. Whether you need assistance with managing your accounts, applying for loans, or making transactions, we've got you covered. Feel free to explore our website and discover the wide range of services we offer.</p>
    </div>

    <div class="box">
      <img src="images/bank-office.jpg" alt="Image of GUCB">
      <p>Welcome to our bank website! We are committed to providing excellent banking services to our customers. Whether you need assistance with managing your accounts, applying for loans, or making transactions, we've got you covered. Feel free to explore our website and discover the wide range of services we offer.</p>
    </div>

    <section class="cards contact" id="contact">
      <h2 class="title">Contact Information</h2>
      <div class="content">
          <div class="card">
                <div class="info">
                  <img src="images/mail.png">
                <h3> Email</h3>
                <a href="mailto:info@GUCB.com.eg"><p>info@GUCB.com.eg</p></a>
                </div>
          </div>
          <div class="card">
              <div class="info">
                <img src="images/phone.png">
              <h3> Phone</h3>
              <a href="tel:11942"><p>11942</p></a>
              </div>
          </div>  

          <div class="card">
            <div class="info">
              <img src="images/address.png">
            <h3>Head Office</h3>
            <p>5th Settlement, Cairo</p>
            </div>
        </div> 
          </div>
  </section>
  </div>

  <footer>
    <p>&copy; 2023 GUCB. All rights reserved.</p>
  </footer>
</body>
</html>
