<!DOCTYPE html>
<html>
<head>
  <title>Bank Website</title>
  <link rel="stylesheet" href="styles/support-style.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="index.html">
        <img src="images/bank-logo.png" alt="Bank Logo">
      </a>
    </div>
    <nav class="navigation">
      <div class="dropdown">
        <a href="#">
          <img src="images/account.png" alt="Support">
          <span>My Account <i class="arrow right"></i></span>
        </a>
        <div class="dropdown-content">
          <a href="redeem-points.html">
            <img src="images/redeem-pints.png" alt="Redeem"> <br>
            <span>Redeem</span>
          </a>
          <a href="notifications.html">
            <img src="images/notification.png" alt="Notifications"> <br>
            <span>Notifications</span>
          </a>
          <a href="set-reminders.html">
            <img src="images/reminders.png" alt="Reminders"> <br>
            <span>Reminders</span>
          </a>
          <a href="login.html">
            <img src="images/logout.png" alt="Logout"> <br>
            <span>Logout</span>
          </a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#">
          <img src="images/open-account.png" alt="Services">
          <span>Services <i class="arrow right"></i></span>
        </a>
        <div class="dropdown-content">
          <div class="dropdown-transaction">
            <a href="#">
              <img src="images/applications.png"> <br>
              Apply for <i class="sub-arrow right"></i>
            </a>
            <div class="nested-dropdown-content">
              <a href="apply-credit-card.html">
                <img src="images/credit-card.png" alt="Credit Card Image"> <br>
                Credit Card</a>
              <a href="apply-loan.html">
                <img src="images/loan.png" alt="Loan Image"> <br>
                Loan</a>
            </div>
          </div>
          <a href="bank-accounts.html">
            <img src="images/open-account.png"> <br>
            My bank accounts</a>
          <a href="view-account-transactions.html">
            <img src="images/transaction.png"> <br>
            Transactions</a>
          <a href="transfer-money.html">
            <img src="images/transfer-money.png"> <br>
            Transfer Money</a>
          <a href="pay-credit-card-bills.html">
            <img src="images/bills.png"> <br>
            Bills</a>
        </div> 
      </div>
      <div class="dropdown">
        <a href="#">
          <img src="images/support.png" alt="Support">
          <span>Support <i class="arrow right"></i></span>
        </a>
        <div class="dropdown-content">
          <a href="report-issues.html">
            <img src="images/technical-issue.png"> <br>
            Technical issue</a>
            <a href="report-credit-card.html">
              <img src="images/credit-card-problem.png"> <br>
              Credit Card Problem</a>
        </div>
      </div>
    </nav>
  </header>

  <ul class="admin-notification">
    <li>
      <h3>Issue Resolution</h3>
      <p>Dear Customer. Thanks for your last issue. The issue is resolved now.</p>
    </li>
    <li>
      <h3>Bank Announcement</h3>
      <p>New payment system is now available.</p>
    </li>
    <li>
        <h3>Reminder</h3>
        <p>Watch out, The deadline for paying the telephone bill is tomorrow !</p>
    </li>
  </ul>

  <footer>
    <p>&copy; 2023 GUCB. All rights reserved.</p>
  </footer>
</body>
</html>
